@model BusinessLMS.Models.ContactFollowup
<div class="metro-container-300">
@using (Html.BeginForm("EditFollowupAjax", "Followups", FormMethod.Post, new { @class = "metro-form", id = "current_form" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend></legend>
        <div class="metro-form-control">
            @TextResources.Businesslms.contactId
            <div class="metro-text-box">
                <input type="text" name="contactName" id="contactName" value="@ViewBag.contactName" />
                @Html.ValidationMessageFor(model => model.contactId)
            </div>
        </div>
        <div class="metro-form-control">
            @Html.LabelFor(model => model.method)
            <div class="metro-text-box">
                @Html.EditorFor(model => model.method)
                @Html.ValidationMessageFor(model => model.method)
            </div>
        </div>
        <div class="metro-form-control">
            @Html.LabelFor(model => model.datetime) (mm/dd/yyyy)
            <div class="metro-text-box">
                @Html.EditorFor(model => model.datetime)
                @Html.ValidationMessageFor(model => model.datetime)
            </div>
            <div class="metro-text-date"><img src="~/Images/Date.png" /></div>
        </div>
        @Html.HiddenFor(model => model.contactId)
        @Html.HiddenFor(model => model.IBONum)
        @Html.HiddenFor(model => model.completed)
        <div class="metro-align-right">
            <input type="button" value="@TextResources.Businesslms.Cancel" class="metro-button" onclick="CancelContact();" />
            <input type="button" value="@TextResources.Businesslms.Update" class="metro-button" onclick="submitform(this.form);" />
        </div>
    </fieldset>
}
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.validator.unobtrusive.parse("#current_form");
        $(".date-picker").datepicker({
            yearRange: "-90:+0",
            changeMonth: true,
            changeYear: true
        });
    });
</script>