@model IEnumerable<BusinessLMSWeb.ModelsView.FollowupView>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="title" style="margin-bottom:40px;">
	<h1>@ViewBag.Title.</h1>
</div>

<div class="metro-container-990">
	<table id="data-table">
		<thead>
			<tr>
				<th>@Html.DisplayNameFor(model => model.ContactName)</th>
				<th>@Html.DisplayNameFor(model => model.Method)</th>
				<th>@Html.DisplayNameFor(model => model.datetime)</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		@foreach (var item in Model) {
			<tr>
				<td>@Html.DisplayFor(modelItem => item.ContactName)</td>
				<td>@Html.DisplayFor(modelItem => item.Method)</td>
				<td>@Html.DisplayFor(modelItem => item.datetime)</td>
				<td>
					<a href="javascript:EditItem(@(item.followupId));" class = "edit-link-sm-black editlink">Edit</a>
					@Html.ActionLink("Delete", "DeleteFollowupAjax", new { id=item.followupId }, 
						new { @class = "del-link-sm-black deletelink", title = "Delete Followup" })
				</td>
			</tr>
		}
		</tbody>
	</table>
	<div class="metro-align-right">
		<input type="button" value="Add New" class="metro-button" onclick="AddNewItem();" />
	</div>
</div>

<div id="followupInfo"></div>

<div id="modalWindow"></div>

<div id="delete-dialog" title="Confirmation">
	<p>Are you sure you want to delete this Contact Follow up?</p>
</div>

@{ Html.RenderPartial("_FollowupInfo"); }

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/Scripts/Followups/Index.js")
}
