@model IEnumerable<BusinessLMS.Models.Contact>
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="metro-info-icons">
	<a href="#" class="help-link help-link-action" title="Help">Help</a>
</div>
<div class="title" style="margin-bottom:40px;">
	<h2>@TextResources.Businesslms.Index.</h2>
</div>
<div class="metro-container-990">
	<table id="contacts-table">
		<thead>
			<tr>
				<th>@TextResources.Businesslms.firstName</th>
				<th>@TextResources.Businesslms.lastName</th>
				<th>@TextResources.Businesslms.email</th>
				<th>@TextResources.Businesslms.phone</th>
				<th>@TextResources.Businesslms.cell</th>
				<th>@TextResources.Businesslms.preferred</th>
				<th>@TextResources.Businesslms.contactLevel</th>
				<th>@TextResources.Businesslms.isPublic</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		@foreach (var item in Model) {
			<tr>
				<td>@Html.DisplayFor(modelItem => item.firstName)</td>
				<td>@Html.DisplayFor(modelItem => item.lastName)</td>
				<td>@Html.DisplayFor(modelItem => item.email)</td>
				<td>@Html.DisplayFor(modelItem => item.phone)</td>
				<td>@Html.DisplayFor(modelItem => item.cell)</td>
				<td>@Html.DisplayFor(modelItem => item.preferred)</td>
				<td>@Html.DisplayFor(modelItem => item.contactLevel)</td>
				<td>@Html.DisplayFor(modelItem => item.isPublic)</td>
				<td>
					<a href="javascript:editContact(@(item.contactId));" class = "edit-link-sm-black editlink">Edit</a>
					@Html.ActionLink("Delete", "DeleteContactAjax", new { id=item.contactId }, 
						new { @class = "del-link-sm-black deletelink", title = "Delete Contact" })
				</td>
			</tr>
		}
		</tbody>
	</table>
	<div class="metro-align-right">
		<input type="button" value="@TextResources.Businesslms.AddNew" class="metro-button" onclick="AddNewContact();" />
	</div>
</div>
<div id="contactInfo"></div>
<div id="modalWindow"></div>
<div id="delete-dialog" title="Confirmation">
	<p>@TextResources.Businesslms.DeleteText @TextResources.Businesslms.contactId?</p>
</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/Scripts/Contacts/Index.js")
}