@using BusinessLMSWeb.Helpers

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Business LMS</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div id="wrapper">
		    <div id="content">
			    <div class="c1">
				    <div class="controls">
					    <nav class="links">
						    <ul>
							    <li><a href="#" class="ico1">Followups <span class="num">1</span></a></li>
                                <li><a href="#" class="ico2">Alerts <span class="num">1</span></a></li>
						    </ul>
					    </nav>
					    <div class="profile-box">
                            @Html.Partial("_LoginPartial")
					    </div>
				    </div>
                    <div id="body">
                        @RenderSection("featured", required: false)
                        <section class="content-wrapper main-content clear-fix">
                            <div class="metro">
                                @RenderBody()
                            </div>
                        </section>
                    </div>
			    </div>
		    </div>
		    <aside id="sidebar">
			    <strong class="logo"><a href="#">lg</a></strong>
                @Html.Action("Menu","Home")
			    <span class="shadow"></span>
		    </aside>
	    </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Scripts/Shared/_layout.js")
        @RenderSection("scripts", required: false)
        @Html.RenderScripts()
    </body>
</html>
