@using BusinessLMSWeb.Helpers

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title - Business LMS</title>
	<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet"/>
	@Styles.Render("~/Content/main/css")
	<!--[if IE]><style>#header h1 a:hover{font-size:75px;}</style><![endif]-->
</head>
<body>
	<div class="main-container">
		<header>
			<img style="display:block;margin:0 auto 0 auto;" src="@Url.Content("/Images/logo.gif")" width="370" height="153" alt="descripción" />
			<p id="tagline"><strong>@TextResources.BusinesslmsHome.HeatherTitle</strong></p>
		</header>
	</div>
	<div class="main-container"><div id="sub-headline"></div></div>
	<div class="main-container">
		<div id="nav-container">
			<nav>
				<ul class="nav">
					<li><a href="@Url.Action("Index","Home")">@TextResources.BusinesslmsHome.MenuHome</a></li>
					<li><a href="@Url.Action("Contact","Home")">@TextResources.BusinesslmsHome.MenuContact</a></li>
					<li class="last"><a href="@Url.Action("Index","Dashboard")">@TextResources.BusinesslmsHome.MenuLogin</a></li>
				</ul>
			</nav>
			<div class="clear"></div>
		</div>
	</div>
	
	@RenderBody()

	@RenderSection("featured", required: false)

	<div class="callout">
		<div class="calloutcontainer">
			<div class="container_12">
				<div class="grid">
					<article class="footbox">
						<h2>@TextResources.BusinesslmsHome.NewsTitle </h2>
						<ul>
							<li><a href="#">@TextResources.BusinesslmsHome.NewsSubtitle </a><br />
								@TextResources.BusinesslmsHome.NewsText
							</li>
						</ul>
					</article>
					<article class="footbox last">
						<h2>@TextResources.BusinesslmsHome.RedSocial </h2>
						<div id="social">
							<a href="https://twitter.com/ibovirtual" class="s3d twitter" target="_blank">@TextResources.BusinesslmsHome.FollowusButton<span class="icons twitter"></span></a>
							<a href="https://www.facebook.com/IboVirtual/" class="s3d facebook" target="_blank">@TextResources.BusinesslmsHome.FacebookButtton<span class="icons facebook"></span></a>
							<a href="http://www.youtube.com/ibovirtual" class="s3d youtube" target="_blank">@TextResources.BusinesslmsHome.YoutubeButton<span class="icons youtube"></span></a>

						</div>
					</article>
					<article class="latestgallery">
						<h2></h2>
						<ul>
							<li><a href="http://www.youtube.com/watch?v=3vhFtoX0UEw&rel=0&autoplay=1" data-gal="prettyPhoto[gallery]" title="Title">
								<img src="http://img.youtube.com/vi/3vhFtoX0UEw/1.jpg" alt="" width="150" height="95" /></a></li>
							<li><a href="http://www.youtube.com/watch?v=cO8NCM3qM&rel=0&autoplay=1" data-gal="prettyPhoto[gallery]" title="Title">
								<img src="http://img.youtube.com/vi/cO8NCM3qM_0/1.jpg" alt="" width="150" height="95" /></a></li>
							<li><a href="http://www.youtube.com/watch?v=RL4nyq6w4zg&rel=0&autoplay=1" data-gal="prettyPhoto[gallery]" title="Title">
								<img src="http://img.youtube.com/vi/RL4nyq6w4zg/1.jpg" alt="" width="150" height="95" /></a></li>
							<li><a href="http://www.youtube.com/watch?v=yW1X8fdX9W8&rel=0&autoplay=1" data-gal="prettyPhoto[gallery]" title="Title">
								<img src="http://img.youtube.com/vi/yW1X8fdX9W8/1.jpg" alt="" width="150" height="95" /></a></li>
						</ul>
					</article>
					<div class="clear"></div>
				</div>
				<div class="calloutoverlay"></div>
				<div class="calloutoverlaybottom"></div>
			</div>
		</div>
	</div>
	<footer>
		<p class="tagline_left">Copyright &copy; 2013 - @TextResources.BusinesslmsHome.RightsText - <a href="ibovirtual.com">IBOVIRTUAL.COM</a> - AMWAY&trade; Affiliated IBO/Martin Urbano</p>
		@if (System.Threading.Thread.CurrentThread.CurrentCulture.Name == "en-US")
		{
			<div class="pl800">Cambiar idioma a <a href="@Url.Action("ChangeLanguage", new { id = "es-MX" })">Español</a></div>
		}
		else 
		{
			<div class="pl800">Change Language to <a href="@Url.Action("ChangeLanguage", new { id = "en-US" })">English</a></div>
		}
		<br class="clear" />
	</footer>
	<br />
	@{ Html.RenderPartial("_jquerycdn"); }
	@Scripts.Render("~/bundles/pages/home")
	@Scripts.Render("~/bundles/jqueryval")
	@RenderSection("scripts", required: false)
	@Html.RenderScripts() 

</body>
</html>