@if (Request.IsAuthenticated) {
    <div class="profile">
		<a href="#" class="section">
			<img class="image" src="@ViewBag.IBOPicture" alt="image description" width="32" height="32" />
			<span class="text-box">
				Welcome
				<strong class="name">@ViewBag.IBOName</strong>
			</span>
		</a>
		<a href="#" class="opener">opener</a>
        <ul>
            <li>@Html.ActionLink("Update IBO Details", "Update", "IBO")</li>
            <li>@Html.ActionLink("Change Password", "Manage", "Account")</li>
        </ul>
	</div> 
    <span class="logout-btn">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()" class="btn-on">Log off</a>
        }
    </span>  
} 
