@model IEnumerable<BusinessLMSWeb.Models.Alert>
@using BusinessLMSWeb.Helpers

<ul>
	<li><a href="@Url.Action("Index", "Calendar", new { id = 2 })" class="ico1">Follow up <span class="num">@ViewBag.FollowupsCount</span></a></li>
	<li><a href="#" class="ico2" data-dropdown="#dropdownAlert">Alerts <span class="num" id="Cont">@Model.Count()</span></a></li>
</ul>

<div id="dropdownAlert" class="dropdown-menu has-tip">
	<ul id="ListAlerts">
		@foreach (var item in Model)
		{
			<li class="contAlert">
				<a href="javascript:readedAlert('@item.AlertId','@ViewBag.IBONum','@Model.Count()');" class="delete"><img src="~/Images/checkmark.jpg" class="delete" />@item.AlertMsg</a>
			</li>
		}
	</ul>
</div>

@Html.Script(
	@<script type="text/javascript">
		var CountAlert = '@Model.Count()';
	</script>
)