@model BusinessLMSWeb.Models.IBO

@{
    ViewBag.Title = "IBO Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="metro-container-300">

    <div class="title" style="margin-bottom:40px;">
        <h1>@ViewBag.Title.</h1>
    </div>

@using (Html.BeginForm("Update","IBO", FormMethod.Post, new { @class = "metro-form", id = "createIBOForm" })) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>

        <div class="metro-form-control">
            <label for="IBONum">ID</label>
            <div class="metro-text-box">
                @Html.EditorFor(model => model.IBONum)
                @Html.ValidationMessageFor(model => model.IBONum)
            </div>
        </div>

        <div class="metro-form-control">
            <label for="firstName">First Name</label>
            <div class="metro-text-box">
                @Html.EditorFor(model => model.firstName)
                @Html.ValidationMessageFor(model => model.firstName)
            </div>
        </div>

        <div class="metro-form-control">
            <label for="lastName">Last Name</label>
            <div class="metro-text-box">
                @Html.EditorFor(model => model.lastName)
                @Html.ValidationMessageFor(model => model.lastName)
            </div>
        </div>

        <div class="metro-form-control">
            <label for="languageId">Language</label>
            <div class="metro-select-box">
                @Html.DropDownListFor(model => model.languageId, (SelectList)ViewBag.languages)
                @Html.ValidationMessageFor(model => model.languageId)
            </div>
        </div>

        <div class="metro-form-control">
            <label for="email">Email</label>
            <div class="metro-text-box">
                @Html.EditorFor(model => model.email)
                @Html.ValidationMessageFor(model => model.email)
            </div>
        </div>

        <div class="metro-form-control">
            <label for="birthday">Birthday</label> (mm/dd/yyyy)
            <div class="metro-text-box">
                @Html.EditorFor(model => model.birthday)
                @Html.ValidationMessageFor(model => model.birthday)
            </div>
        </div>

        <div class="metro-form-control">
            <label for="twitter">Twitter</label>
            <div class="metro-text-box">
                @Html.EditorFor(model => model.twitter)
                @Html.ValidationMessageFor(model => model.twitter)
            </div>
        </div>

        <div class="metro-form-control">
            <label for="UPLine">Sponsor</label>
            <div class="metro-text-box">
                @Html.EditorFor(model => model.UPLine)
                @Html.ValidationMessageFor(model => model.UPLine)
            </div>
        </div>

        @Html.HiddenFor(model => model.picture)

    </fieldset>
}

    Picture
    <form action="/api/Files" method="post" enctype="multipart/form-data" id="file_upload" >
        <div id = "filediv">
            <input type="file" name="file"/>
            <div id="status"></div>
        </div>
        <input type="submit" value="Upload" id="btnUpload" class="metro-button" />
    </form>

    <div class="metro-align-right">
        <input type="button" value="Update" class="metro-button" onclick="submitform();" />
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryupload")
    @Scripts.Render("~/Scripts/IBO/AddIBO.js")
}
