@model BusinessLMS.Models.IBO
@using BusinessLMSWeb.Helpers
@{
	ViewBag.Title = "IBO Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="metro-container-300">
	<div class="title" style="margin-bottom:40px;">
		<h2>@TextResources.Businesslms.IBODetails.</h2>
	</div>
	@using (Html.BeginForm("Update","IBO", FormMethod.Post, new { @class = "metro-form", id = "createIBOForm" })) {
		@Html.ValidationSummary(true)
		<fieldset>
			<legend></legend>
			<div class="metro-form-control">
				@Html.LabelFor(model => model.IBONum)
				<div class="metro-text-box">
					@Html.EditorFor(model => model.IBONum)
					@Html.ValidationMessageFor(model => model.IBONum)
				</div>
			</div>
			<div class="metro-form-control">
				@Html.LabelFor(model => model.firstName)
				<div class="metro-text-box">
					@Html.EditorFor(model => model.firstName)
					@Html.ValidationMessageFor(model => model.firstName)
				</div>
			</div>
			<div class="metro-form-control">
				@Html.LabelFor(model => model.lastName)
				<div class="metro-text-box">
					@Html.EditorFor(model => model.lastName)
					@Html.ValidationMessageFor(model => model.lastName)
				</div>
			</div>
			<div class="metro-form-control">
				@Html.LabelFor(model => model.languageId)
				<div class="metro-select-box">
					@Html.DropDownListFor(model => model.languageId, (SelectList)ViewBag.languages)
					@Html.ValidationMessageFor(model => model.languageId)
				</div>
			</div>
			<div class="metro-form-control">
				@Html.LabelFor(model => model.email)
				<div class="metro-text-box">
					@Html.EditorFor(model => model.email)
					@Html.ValidationMessageFor(model => model.email)
				</div>
			</div>
			<div class="metro-form-control">
				@Html.LabelFor(model => model.phone)
				<div class="metro-text-box">
					@Html.EditorFor(model => model.phone)
					@Html.ValidationMessageFor(model => model.phone)
				</div>
			</div>
			<div class="metro-form-control">
				@Html.LabelFor(model => model.birthday)
				<div class="metro-text-box">
					@Html.EditorFor(model => model.birthday)
					@Html.ValidationMessageFor(model => model.birthday)
				</div>
				<div class="metro-text-date"><img src="~/Images/Date.png" /></div>
			</div>
			<div class="metro-form-control">
				@Html.LabelFor(model => model.level)
				<div class="metro-text-box">
					@Html.EditorFor(model => model.level)
					@Html.ValidationMessageFor(model => model.level)
				</div>
			</div>
			<div class="metro-form-control">
				@Html.LabelFor(model => model.twitter)
				<div class="metro-text-box">
					@Html.EditorFor(model => model.twitter)
					@Html.ValidationMessageFor(model => model.twitter)
				</div>
			</div>
			<div class="metro-form-control">
				@Html.LabelFor(model => model.UPLine)
				<div id="divIboName" class="metro-form-control">
					<input type="text" class="metro-text-box" name="iboName" id="iboName" value="@Model.UPLine" /></div>
				<div id="divLoading"></div>
			</div>

			<div class="metro-form-control">
				@Html.CheckBoxMetroFor(model => model.newsletteroptin, new { @class = "metro-check" })
			</div>
			@Html.HiddenFor(model => model.picture)
			@Html.HiddenFor(model => model.UPLine)
		</fieldset>
	}
	@TextResources.Businesslms.IBOpicture
	<form action="/api/Files" method="post" enctype="multipart/form-data" id="file_upload" >
		<div id = "filediv">
			<input type="file" name="file"/>
			<div id="status"></div>
		</div>
		<input type="submit" value="@TextResources.Businesslms.Upload" id="btnUpload" class="metro-button" />
        <a href="#" class="metro-button photoSelect ">Select photo from Facebook</a>
	</form>
	<div class="metro-align-right">
		<input type="button" value="@TextResources.Businesslms.Update" class="metro-button" onclick="submitform();" />
	</div>
	<div class="metro-form-control">
		@Html.ActionLink(TextResources.Businesslms.terms, "Terms","Home")
	</div>
</div>

@{ Html.RenderPartial("CSPhotoSelector");}

<script type="text/javascript">
    window.fbAsyncInit = function () {
        FB.init({ appId: facebookAppId, cookie: true, status: true, xfbml: true, oauth: true });
    };
    (function (d) {
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));
</script>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/jqueryupload")
	@Scripts.Render("~/Scripts/IBO/AddIBO.js")
	@Scripts.Render("~/Scripts/Shared/_layout.js")
    @Scripts.Render("~/Scripts/Shared/csphotoselector.js")
}