@model BusinessLMS.Models.Book
<div class="metro-container-300">
@using (Html.BeginForm("CreateBookAjax", "Books", FormMethod.Post, new { @class = "metro-form", id = "current_form" }))
{
	@Html.ValidationSummary(true)
	<fieldset>
		<legend>Book</legend>
		<div class="metro-form-control">
			@Html.LabelFor(model => model.Title)
			<div class="metro-text-box">
				@Html.EditorFor(model => model.Title)
				@Html.ValidationMessageFor(model => model.Title)
			</div>
		</div>
		<div class="metro-form-control">
			@Html.LabelFor(model => model.Autor)
			<div class="metro-text-box">
				@Html.EditorFor(model => model.Autor)
				@Html.ValidationMessageFor(model => model.Autor)
			</div>
		</div>
		<div class="metro-form-control">
			@Html.LabelFor(model => model.Link1)
			<div class="metro-text-box">
				@Html.EditorFor(model => model.Link1)
				@Html.ValidationMessageFor(model => model.Link1)
			</div>
			<div class="add-item">
				<a onclick="activateSec();"><img src="@Url.Content("~/Images/AddSmB.png")" /></a>
			</div>
		</div>
		<div class="metro-form-control" id="SecondLink" hidden="hidden">
			@Html.LabelFor(model => model.Link2)
			<div class="metro-text-box">
				@Html.EditorFor(model => model.Link2)
				@Html.ValidationMessageFor(model => model.Link2)
			</div>
			<div class="add-item">
				<a onclick="activateThird();"><img src="@Url.Content("~/Images/AddSmB.png")" /></a>
			</div>
		</div>
		<div class="metro-form-control" id="ThirdLink" hidden="hidden">
			@Html.LabelFor(model => model.Link3)
			<div class="metro-text-box">
				@Html.EditorFor(model => model.Link3)
				@Html.ValidationMessageFor(model => model.Link3)
			</div>
		</div>
		<div class="metro-form-control">
			@Html.LabelFor(model => model.Priority)
			<div class="metro-text-box">
				@Html.EditorFor(model => model.Priority)
				@Html.ValidationMessageFor(model => model.Priority)
			</div>
		</div>
		@Html.HiddenFor(model => model.BookId)
		@Html.HiddenFor(model => model.IBONum)
		<div class="metro-align-right">
			<input type="button" value="@TextResources.Businesslms.Cancel" class="metro-button" onclick="CancelBook();" />
			<input type="button" value="@TextResources.Businesslms.Create" class="metro-button" onclick="submitform(this.form);" />
		</div>
	</fieldset>
}
</div>
<script type="text/javascript">
	$(document).ready(function () {
		$.validator.unobtrusive.parse("#current_form");
	});
</script>
