@model IEnumerable<BusinessLMSWeb.Models.Book>

@{
	ViewBag.Title = "Recomended Books";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="title" style="margin-bottom:40px;">
	<h1>@ViewBag.Title.</h1>
</div>

<div class="metro-container-990">
	<table id="books-table">
		<thead>
			<tr>
				<th>@Html.DisplayNameFor(model => model.Title)</th>
				<th>@Html.DisplayNameFor(model => model.Autor)</th>
				<th>Buy Links</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@Html.DisplayFor(modelItem => item.Title)</td>
				<td>@Html.DisplayFor(modelItem => item.Autor)</td>
				<td>
					@if (!string.IsNullOrEmpty(item.Link1)) { 
						<a href="@item.Link1" class="">@item.Link1</a>
					}
					@if (!string.IsNullOrEmpty(item.Link2)) { 
						<a href="@item.Link2" class="">@item.Link2</a>
					}
					@if (!string.IsNullOrEmpty(item.Link2)) { 
						<a href="@item.Link3" class="">@item.Link3</a>
					}
				</td>
				<td>
					@if (item.IBONum == ViewBag.IBONum) {
						 Html.ActionLink("Delete", "DeleteBookAjax", new { id = item.BookId },
						 new { @class = "del-link-sm-black deletelink", title = "Delete Book" });
					}
				</td>
			</tr>
		}
		</tbody>
	</table>
	@if (ViewBag.ibolevel >= 25 && ViewBag.BookCount<10)
	{ 
		<div class="metro-align-right">
			<input type="button" value="Add New" class="metro-button" onclick="AddNewBook();" />
		</div>
	}

</div>

<div id="booksInfo"></div>
<div id="modalWindow"></div>
<div id="delete-dialog" title="Confirmation">
	<p>Are you sure you want to delete this book?</p>
</div>
@{ Html.RenderPartial("_BooksInfo"); }
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/Scripts/Books/Index.js")
}
