@model IEnumerable<BusinessLMSWeb.Models.Book>

@{
	ViewBag.Title = "Recomended Books";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="title" style="margin-bottom:40px;">
	<h1>@ViewBag.Title.</h1>
</div>

<div class="metro-container-990">
	<table>
		<thead>
			<tr>
				<th>@Html.DisplayNameFor(model => model.IBONum)</th>
				<th>@Html.DisplayNameFor(model => model.Title)</th>
				<th>@Html.DisplayNameFor(model => model.Autor)</th>
				<th>@Html.DisplayNameFor(model => model.Link1)</th>
				<th>@Html.DisplayNameFor(model => model.Link2)</th>
				<th>@Html.DisplayNameFor(model => model.Link3)</th>
				<th>@Html.DisplayNameFor(model => model.priority)</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@Html.DisplayFor(modelItem => item.IBONum)</td>
				<td>@Html.DisplayFor(modelItem => item.Title)</td>
				<td>@Html.DisplayFor(modelItem => item.Autor)</td>
				<td><a href="@item.Link1" id="@item.BookId" class="Count">@item.Link1</a></td>
				<td><a href="@item.Link2" id="@item.BookId" class="Count">@item.Link2</a></td>
				<td><a href="@item.Link3" id="@item.BookId" class="Count">@item.Link3</a></td>
				<td>@Html.DisplayFor(modelItem => item.priority)</td>
				<td>@Html.ActionLink("Delete", "DeleteBookAjax", new { id = item.BookId })</td>
			</tr>
		}
		</tbody>
	</table>
	@if (ViewBag.ibolevel >= 25 && ViewBag.BookCount<10)
	{ 
		<div class="metro-align-right">
			<input type="button" value="Add New" class="metro-button" onclick="AddNewContact();" />
		</div>
	}

</div>

