@{
	ViewBag.Title = "Home Page";
	Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="main-container">
	<div class="container1">
		<section class="jFlowPrev"><div></div></section>
		<section class="jFlowNext"><div></div></section>
		<div id="mySlides">
			<div id="slide1">
				<a href="https://www.amway.com/about-amway/our-company" target="_blank">
					<img src="/images/Home/slider1.jpg" alt="Become a business owner" />
				</a>
			</div>
			<div id="slide2">
				<a href="https://www.amway.com/about-amway/whats-new" target="_blank">
					<img src="/images/Home/slider2.jpg" alt="Your success rewarded" />
				</a>
			</div>
			<div id="slide3">
				<a href="https://www.amway.com/about-amway/family-of-brands" target="_blank">
					<img src="/images/Home/slider3.jpg" alt="Exceptional products" />
				</a>
			</div>
			<div id="slide4">
				<a href="https://www.amway.com/about-amway/business-opportunity" target="_blank">
					<img src="/images/Home/slider4.jpg" alt="Low risk low cost" />
				</a>
			</div>
			<div id="slide5">
				<a href="https://www.amway.com/about-amway/citizenship/amway-one-by-onet" target="_blank">
					<img src="/images/Home/slider5.jpg" alt="Business support" />
				</a>
			</div>
		</div>
		<div id="myController">
			<span class="jFlowControl"></span>
			<span class="jFlowControl"></span>
			<span class="jFlowControl"></span>
			<span class="jFlowControl"></span>
			<span class="jFlowControl"></span>
		</div>
		<br /><br />
		<article class="box" id="home_featured21">
			<div class="block">
				<h2>@TextResources.BusinesslmsHome.VisionTitle</h2>
				<p class="centrado"> @TextResources.BusinesslmsHome.VisionText</p>
			</div>
			<div class="block">
				<h2>@TextResources.BusinesslmsHome.MissionTitle</h2>
				<p class="centrado"> @TextResources.BusinesslmsHome.MissionText</p>
			</div>
			<div class="block last">
				<h2>@TextResources.BusinesslmsHome.PurposeTitle</h2>
				<p class="centrado"> @TextResources.BusinesslmsHome.PurposeText</p>
			</div>
			<div class="clear"></div>
		</article>
	</div>
</div>
<div class="callout">
	<div class="calloutcontainer">
		<div class="container_12">
			<div class="grid">
				<div class="alignright">
					@{ Html.RenderPartial("_Register", (BusinessLMS.Models.Contact)ViewBag.contact); }
					<h3>@TextResources.BusinesslmsHome.RegisterTitle</h3>
					<p>@TextResources.BusinesslmsHome.RegisterSubtitle </p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="calloutoverlay"></div>
		<div class="calloutoverlaybottom"></div>
	</div>
</div>
<br /><br />
<div class="main-container"></div>
@section featured {
	<div class="container2">
		<article id="home_featured2">
			<ul>
				<li>
					<div class="imgholder"><a href="http://www.youtube.com/watch?v=0KeZaQnqwWU&rel=0&autoplay=1 "  data-gal="prettyPhoto[featured]" title="Second Featur">
						<img src="http://img.youtube.com/vi/0KeZaQnqwWU/1.jpg" width="275" height="145" alt="" /></a></div>
					<h4>What The Numbers Mean</h4>

					<h4> @TextResources.BusinesslmsHome.VideoTitle1 </h4> 
					<p class="centrado">@TextResources.BusinesslmsHome.VideoText3</p>
				</li>
				<li>
					<div class="imgholder"><a href="http://www.youtube.com/watch?v=qNNHKdC4lhg&rel=0" data-gal="prettyPhoto[featured]" title="Second Featured Title">
						<img src="http://img.youtube.com/vi/qNNHKdC4lhg/1.jpg" width="275" height="145" alt="" /></a></div>
					<h4>@TextResources.BusinesslmsHome.VideoTitle2</h4>
					<p class="centrado">@TextResources.BusinesslmsHome.VideoText2</p>
				</li>
				<li class="last">
					<div class="imgholder"><a href="http://www.youtube.com/watch?v=OZNaL9HASDQ&rel=0" data-gal="prettyPhoto[featured]" title="Third Featured Title">
						<img src="http://img.youtube.com/vi/OZNaL9HASDQ/1.jpg" width="275" height="145" alt="" /></a></div>
					<h4>@TextResources.BusinesslmsHome.VideoTitle3 </h4>
					<p class="centrado">@TextResources.BusinesslmsHome.VideoText3</p>
				</li>
			</ul>
			<br class="clear" />
		</article>
	</div>
}
