@model BusinessLMSWeb.Models.Ticket

@{
    List<BusinessLMSWeb.Models.Ticket> myTikets = (List<BusinessLMSWeb.Models.Ticket>)ViewBag.TicketList;
}

<div class="metro">
    <div class="metro-container-300">

        @using (Html.BeginForm("CreateTicket", "Tickets", FormMethod.Post, new { @class = "metro-form", id = "ticketForm" }))
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <legend></legend>

                <div class="metro-form-control">
                    <label for="ticketType">Ticket Type</label>
                    <div class="metro-select-box">
                        @Html.DropDownListFor(model => model.ticketType, (SelectList)ViewBag.ticketTypes)
                        @Html.ValidationMessageFor(model => model.ticketType)
                    </div>
                </div>

                <div class="metro-form-control">
                    <label for="description">Description</label>
                    <div class="metro-text-box">
                        @Html.EditorFor(model => model.description)
                        @Html.ValidationMessageFor(model => model.description)
                    </div>
                </div>

                @Html.HiddenFor(model => model.IBONum)
                @Html.HiddenFor(model => model.datetime)
                @Html.HiddenFor(model => model.developer)
                @Html.HiddenFor(model => model.impact)
                @Html.HiddenFor(model => model.priority)
                @Html.HiddenFor(model => model.solved)

                <div class="metro-align-right">
                    <input type="button" value="Create" class="metro-button" onclick="submitTicketForm(this.form);" />
                </div>
                
            </fieldset>
        }

    </div>
</div>

@if (myTikets.Count > 0) { 
    <div class="top-margin">
        <h3>My Tickets</h3>
        <table class="thin-borders" border="1">
            <tr>
                <th>@Html.DisplayNameFor(model => model.description)</th>
                <th>@Html.DisplayNameFor(model => model.datetime)</th>
            </tr>
            @foreach (var item in myTikets)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.description)</td>
                    <td>@Html.DisplayFor(modelItem => item.datetime)</td>
                </tr>
            }
        </table>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $.validator.unobtrusive.parse("#current_form");
    });
</script>