@model BusinessLMSWeb.Models.Ticket
@using BusinessLMSWeb.Helpers
@*@{
    ViewBag.Title = "EditTicket";
    Layout = "~/Views/Tickets/Index.cshtml";
}*@
<div class="metro">
<div class="metro-container-300">

<h2>EditTicket</h2>

@using (Html.BeginForm("EditTicketAjax", "Tickets", FormMethod.Post, new { @class = "metro-form", id = "current_form" })){
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>

        <div class="metro-form-control">
            <label for="description">Description</label>
            <div class="metro-text-box">
                @Html.EditorFor(model => model.description)
                @Html.ValidationMessageFor(model => model.description)
            </div>
        </div>
            <div class="metro-form-control">
            <label for="priority">Priority</label>
            <div class="metro-text-box">
                @Html.EditorFor(model => model.priority)
                @Html.ValidationMessageFor(model => model.priority)
            </div>
          </div>
            <div class="metro-form-control">
            <label for="developer">Developer</label>
            <div class="metro-text-box">
                @Html.EditorFor(model => model.developer)
                @Html.ValidationMessageFor(model => model.developer)
            </div>
          </div>
            <div class="metro-form-control">
            <label for="impact">Impact</label>
            <div class="metro-text-box">
                @Html.EditorFor(model => model.impact)
                @Html.ValidationMessageFor(model => model.impact)
            </div>
          </div>
         <div class="metro-form-control">
            <label for="impact">Solved</label>
            <div class="metro-text-box">
                 @Html.CheckBoxMetroFor(model => model.solved, new { @class = "metro-check" })
            </div>
          </div>
        @Html.HiddenFor(model => model.ticketId)
        @Html.HiddenFor(model => model.IBONum)
        @Html.HiddenFor(model => model.ticketType)
        @Html.HiddenFor(model => model.datetime)
       <div class="metro-align-right">
            <input type="button" value="Cancel" class="metro-button" onclick="cancelticket();" />
            <input type="button" value="Update" class="metro-button" onclick="updatetickets(this.form);" />
        </div>
    </fieldset>
}
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.validator.unobtrusive.parse("#current_form");
    });
</script>