@model IEnumerable<BusinessLMSWeb.Models.Ticket>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ticketType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IBONum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.solved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.developer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.impact)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ticketType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IBONum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.priority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.solved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.developer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.impact)
        </td>
         <td>
            <a href="javascript:editTicket(@(item.ticketId));">Edit</a>
        </td>
    </tr>
}

</table>

<div id="ticketInfo"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Tickets/Index.js")
}