@model BusinessLMS.Models.Dream

<div class="dream-display">
    <div class="text">
        <div style="margin:10px">
            @TextResources.Businesslms.My @ViewBag.area @TextResources.Businesslms.dreamId
        </div>
        <div style="margin:10px">
            @TextResources.Businesslms.Of @Html.DisplayFor(model => model.dream1)
        </div>
        <div style="margin:10px">
            @TextResources.Businesslms.ThatI @ViewBag.completed
        </div>
        <div style="margin:10px">
            @ViewBag.etaMsg @ViewBag.eta
        </div>
    </div>
    <div class="actions">
        <div style="margin:10px">
           <a href="javascript:openEditWindow(@(Model.dreamId))" class="edit-link">@TextResources.Businesslms.Edit</a>
        </div>
        @if ((bool)ViewBag.last == true) {
            <div style="margin:10px">
                @Html.ActionLink("More Dreams", "MoreDreams", new { id = Model.dreamId }, new { @class = "submit-arrow-link", title = "Create more Dreams" })
            </div>
        }
    </div>
</div>