@model BusinessLMS.Models.Goal

<div class="dream-display">
    <div class="text">
        <div style="margin:10px">
            My @ViewBag.tool Goal
        </div>
        <div style="margin:10px">
            of @Html.DisplayFor(model => model.goal1)
        </div>
        <div style="margin:10px">
            That @ViewBag.completed
        </div>
        <div style="margin:10px">
            @ViewBag.etaMsg @ViewBag.eta
        </div>
    </div>
    <div class="actions">
        <div style="margin:10px">
           <a href="javascript:openEditWindow(@(Model.goalId))" class="edit-link">Edit</a>
        </div>
        @if ((bool)ViewBag.last == true) {
            <div style="margin:10px">
                @Html.ActionLink("More Goals", "MoreGoals", new { id = Model.goalId }, new { @class = "submit-arrow-link", title = "Create more Goals" })
            </div>
        }
    </div>
</div>