@model BusinessLMS.Models.Goal
@using BusinessLMSWeb.Helpers
<div class="metro-container-300">
	@using (Html.BeginForm("NewGoal", "Goals", FormMethod.Post, new { @class = "metro-form", id = ViewBag.formName }))
	{
		@Html.ValidationSummary(true)
		<fieldset>
			<legend></legend>
			<div class="metro-form-control">
				@Html.LabelFor(model => model.toolId)
				<div class="metro-select-box">
					@Html.DropDownListFor(model => model.toolId, (SelectList)ViewBag.tools)
					@Html.ValidationMessageFor(model => model.toolId)
				</div>
			</div>
			<div class="metro-form-control">
				@Html.LabelFor(model => model.goal1)
				<div class="metro-text-box">
					@Html.EditorFor(model => model.goal1)
					@Html.ValidationMessageFor(model => model.goal1)
				</div>
			</div>
			<div class="metro-form-control">
				@Html.LabelFor(model => model.dreamId)
				<div class="metro-select-box">
					@Html.DropDownListFor(model => model.dreamId, (SelectList)ViewBag.dreams)
					@Html.ValidationMessageFor(model => model.dreamId)
				</div>
			</div>
			<div class="metro-form-control">
				@Html.LabelFor(model => model.datetime) (mm/dd/yyyy)
				<div class="metro-text-box">
					@Html.EditorFor(model => model.datetime)
					@Html.ValidationMessageFor(model => model.datetime)
				</div>
				<div class="metro-text-date"><img src="~/Images/Date.png" /></div>
			</div>
			@Html.HiddenFor(model => model.timeframeId)
			@Html.HiddenFor(model => model.goalLevel)
			@Html.HiddenFor(model => model.picture)
		</fieldset>
	}
	@TextResources.Businesslms.picture
	<form action="/api/Files" method="post" enctype="multipart/form-data" id="@ViewBag.uploadName" >
		<div id="filediv" >
			<input type="file" name="file" />
			<div id="status"></div>
		</div>
		<input type="submit" value="@TextResources.Businesslms.Upload" id="btnUpload" class="metro-button" />
	</form>
	<div class="metro-align-right">
		<input type="button" value="@TextResources.Businesslms.Save" class="metro-button" onclick="submitform(this);" />
	</div>
</div>
