@model BusinessLMSWeb.Models.LocalPasswordModel

<h3>Change password</h3>

<section id="loginForm">
@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "metro-form" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend></legend>
        <div class="metro-form-control">
            @Html.LabelFor(m => m.OldPassword)
            <div class="metro-text-box">
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>
        </div>
        <div class="metro-form-control">
            @Html.LabelFor(m => m.NewPassword)
            <div class="metro-text-box">
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
        </div>
        <div class="metro-form-control">
            @Html.LabelFor(m => m.ConfirmPassword)
            <div class="metro-text-box">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>
        <div class="metro-align-right">
            <input type="submit" value="Change password" class="metro-button"/>
        </div>
    </fieldset>
}
</section>