@model BusinessLMSWeb.Models.LocalPasswordModel

<h3>Set password</h3>

<p>
    You do not have a local password for this site. Add a local
    password so you can log in without an external login.
</p>

<section id="loginForm">
@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "metro-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend></legend>
        <div class="metro-form-control">
            @Html.LabelFor(m => m.NewPassword)
            <div class="metro-text-box">
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
        </div>
        <div class="metro-form-control">
            @Html.LabelFor(m => m.ConfirmPassword)
            <div class="metro-text-box">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>
        <input type="submit" value="Set password" class="metro-button"/>
    </fieldset>
}
</section>