@model BusinessLMSWeb.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<div class="metro-container-400">

    <div class="title" style="margin-bottom:40px;">
        <h2>@TextResources.Businesslms.ManageAccount.</h2>
    </div>

    <p class="message-success">@ViewBag.StatusMessage</p>

    <p>@TextResources.Businesslms.LoggedInAs <strong>@ViewBag.IBOName</strong>.</p>

    @if (ViewBag.HasLocalPassword)
    {
        @Html.Partial("_ChangePasswordPartial")
    }
    else
    { 
        @Html.Partial("_SetPasswordPartial")
    }

    <section id="externalLogins">
        @Html.Action("RemoveExternalLogins")
        <div style="margin-top:20px;">
            @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
        </div>
    </section>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
