@model BusinessLMSWeb.Models.ResetModel

@{
    ViewBag.Title = "Password Reset";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="metro-container-400">

    <div class="title" style="margin-bottom:40px;">
        <h1>@ViewBag.Title.</h1>
    </div>

    <section id="loginForm">
    @if ((bool)ViewBag.isPasswordReset == false) {

        using (Html.BeginForm("PasswordReset", "Account", FormMethod.Post, new { @class = "metro-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend></legend>

                <div class="metro-form-control">
                    @Html.LabelFor(model => model.Password)
                    <div class="metro-text-box">
                        @Html.EditorFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>

                <div class="metro-form-control">
                    @Html.LabelFor(model => model.ConfirmPassword)
                    <div class="metro-text-box">
                        @Html.EditorFor(model => model.ConfirmPassword)
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>
                </div>

                @Html.HiddenFor(model => model.token)

                <div class="metro-align-right">
                    <input type="submit" value="Save" class="metro-button" />
                </div>

            </fieldset>
        }
    }
    else
    {
        <div>Password was reset properly please @Html.ActionLink("login", "Login").</div>
    }
        
    </section>

    <div class="metro-align-right" style="margin-top:20px;">
        Back to @Html.ActionLink("Home", "Login")
    </div>

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
