@model IEnumerable<BusinessLMS.Models.Alert>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<h2>Index</h2>

<div>
    @Html.ActionLink("Create New", "CreateAlert")
</div>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AlertMsg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.action)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datetime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AlertMsg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.action)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datetime)
            </td>
            <td>

            @Html.ActionLink("Delete", "DeleteAlert", new { id = item.AlertId })
            </td>
        </tr>
    }

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}